/* Font */

@font-face {
    font-family: 'alexbrush';
    src: url(../lightbox/font/Alex\ Brush\ Font/alexbrush-regular-webfont.woff) format('woff');
}

@font-face {
    font-family: 'bebasnueu';
    src: url(../lightbox/font/Bebasneue/BebasNeue-Regular.woff) format('woff');
}

/* Style */

body {
    font: 18px/36px 'bebasnueu';
    background-image: linear-gradient(to bottom, rgba(32, 32, 197, .5), rgb(255, 255, 255, .5));
    background-repeat: no-repeat;
}

h1 {
    font-family: 'alexbrush';
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0;
    color: white;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, .5);
}

.container {
    width: 1200px;
    background-color: rgb(200, 200, 200, .6);
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .6);
    padding: 20px;
}

.gallery li {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid black;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, .6);
    float: left;
    margin-left: 65px;
    position: relative;
}

.gallery li span {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(200, 200, 200, .5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 300px;
    font-size: 55px;
    color: black;
    text-shadow: 2px 2px 3px white;
    opacity: 0;
    transform: scale(0);
    transition: .3s;
}

.gallery a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

/* Clearfix */

.clear {
    clear: both;
}

/* Overlay */

.overlay {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .0);
    overflow: hidden;
    z-index: 9999;
    text-align: center;
    padding: 100px;
    transition: .8s;
    opacity: 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    animation: fade .2s .2s forwards;

}

.overlay img {
    max-height: 100%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
    border: 2px solid white;
}

.overlay:target img {
    animation: zoomdanfade .8s;
}

/* Close Button */

.overlay .close {
    position: absolute;
    background-color: black;
    border: 2px solid white;
    color: white;
    line-height: 14px;
    padding: 5px;
    top: 50px;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
}

.overlay:target .close {
    animation: slidedownfade .5s .5s forwards;
}

/* Navigation Button */

.next,
.prev {
    width: 90px;
    height: 90px;
    background-image: url(img/arrow\ right.png);
    position: absolute;
    text-indent: -9999px;
    top: 43%;
    margin-left: 25px;
    opacity: 0;
}

.prev {
    rotate: 180deg;
    margin-left: -115px;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fade .5s .5s forwards;
}

/* Animation */

@keyframes zoomdanfade {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slidedownfade {
    0% {
        opacity: 0;
        margin-top: -25px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}