body {
    background-color: aqua;
    font-family: Georgia;
}

h1 {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 60pt;
    color: darkblue;
}

h4 {
    font-style: italic;
    text-align: right;
}

.a1 {
    color: white;
}

.p1 {
    text-align: center;
    color: rgb(255, 230, 5);
}

.p2 {
    text-align: right;
    line-height: 30px;
}